<%- include("partials/header") %>

<main>
  <h2>Service Projects</h2>

  <ul class="project-list">

    <% projects.forEach(project => { %>

      <li>
        <strong>
          <%= new Date(project.date).toLocaleDateString() %>
        </strong>:
        <%= project.title %>
        (<%= project.organization_name %>)
      </li>

    <% }) %>

  </ul>

</main>

<%- include("partials/footer") %>